{% extends 'base.html.twig' %}
{% block body %}
   <article>
   <h1>Amoniaczki</h1> 
   <h2> Składniki:</h2>
 <ul>
   <li> 500 g mąki </li>
   <li> 100 g margaryny </li>
   <li> 150 g cukru </li>
   <li> cukier puder </li>
   <li> 1/2 szklanki mleka </li>
   <li>2 jajka </li>
   <li>szczypta soli </li>
   <li> 2 łyżeczki amoniaku </li>
   <li> 1 cukier wanilinowy </li>
 </ul>
   <h2>
Przygotowanie:
   </h2>
   <p>
Margarynę utrzeć z cukrem. Dodawać po 1 jajku nadal ucierając.
Następnie dodać sól, amoniak rozpuścić z podgrzanym mleku dodać razem z przesianą mąką.
Zarobić i wyrobić gładkie ciasto, odstawić w chłodnym miejscu (niekoniecznie lodówka) na godzinę.
Po upłynięciu godziny ciasto rozwałkować na grubość około 5 mm (jak pierniczki).
Wykrawać ciasteczka o dowolnej formie.Ciastka układać na blasze wyłożonej 
papierem dopieczenia i piec na jasnozłoty kolor w piekarniku nagrzanym do 200 stopni.
   </p>
   <h2>
Smacznego!
   </h2>
   </article>
{% endblock %}