{% extends 'base.html.twig' %}
{% block body %}
    <article>
    <h1>Pikantny ananas</h1>
    <h2>(na 2 porcje)</h2>
    
    <p>
       Składniki:
   </p>
    <ul>
        <li>1 ananas</li>
        <li>1 łyżeczka nasion kolendry</li>
        <li>1/2 łyżeczki nasion kopru włoskiego</li>
        <li>1 łyżeczka płatków chilli</li>
        <li>1/2 łyżeczki kurkumy</li>
        <li>3-4 liście limonki kaffir</li>
        <li>4 łyżki mleczka kokosowego</li>
        <li>1 łyżeczka brązowego cukru</li>
        <li>szczypta soli </li>
    </ul>
   <p>  
   <h1>Przygotowanie:</h1>
Ananasa obierzcie, pokrójcie na ćwiartki i usuńcie twardy środek. Miąższ pokrójcie na kawałki wielkości
kęsa.Na patelni uprażcie nasiona kolendry i kopru włoskiego, dodajcie pokrojonego ananasa.
Smażcie przez chwilę, do momentu aż przyprawy pokryją miąższ. Dodajcie mleczko kokosowe, 
liście limonki, płatki chilli i kurkumę, gotujcie do odparowania płynu. Pod koniec gotowania
dodajcie cukier i doprawcie szczyptą soli. 
   </p>
   <h1>Podawajcie jeszcze ciepłe. Smacznego!</h1>

</article>
{% endblock %}