{% extends 'base.html.twig' %}
{% block body %}
    <article>
    <h1>Babeczki</h1>
    <i>według mojego przepisu</i> 
    <h2>
       Składniki:
   </h2>
    
    <ul>
        <li> 2 opakowania cukru waniliowego</li>
        <li> aromat waniliowy</li>
        <li> 3 czubate łyżki miodu</li>
        <li> półszklanki cukru pudru</li>
        <li> 2 szklanki + 3 łyżeczki mąki</li>
        <li> około 2 łyżeczek proszku do pieczenia</li>
        <li> szklanka mleka + 1 łyżeczka</li>
        <li> szklanka oleju + 1 łyżeczka</li>
        <li> 2 jajka</li>
        <li> około 100g wiorek kokosowych.</li>
    </ul> 
   <h2>
       Przygotowanie:
   </h2>
    <p>
        
        Najpierw wsyp składniki suche i je wymieszaj, a następnie dodaj te mokre.</br>
        Całość połącz przy użyciu łyżki albo miksera.</br>
        Przygotowaną miksturę przelej do foremek i piecz 15-20 min w temperaturze 180-200 stopni.</br>
    </p>

</article>
{% endblock %}