{% extends 'base.html.twig' %}

{% block body %}
    <article>
        <h1>Grzanki</h1>
        <p>
         Grzaneczki można zrobić na parę sposobów. <br /> 
         Zdodatkami można poeksterymentować samemu<br /> 
        </p>
        <p>
            <ul>
                <li>Chleb</li>
                <li>Trzoszkę masła(opcjonalne)</li>
            </ul>    
        </p>
        <p>
            <h1>Przygotowanie</h1>
            Chleb pokroić w kromki<br />
            Jeśli ktoś chce, to może roztopić masełko na patelki. Ale tylko trochę, co by grzanki nie były tłuste<br /> 
            Wystarczy, że niezbyt duże kromki chleba położysz na patelni (jak ktoś nie ma, to może być żelazko). Kiedy lekko się zarumienią, przewróć je na drugą stronę.<br /> 
            Tylko uważaj żeby się węgiel nie zrobił. <br />
            Tak przygotowane grzaneczki sę gotowe do sporzycia.<br />
            A jak ktoś jest bogaty, to może posmarować je jeszcze margaryną.<br />
        </p>
        <p>
            I gotowe. Pyszne jedzonko prawie za darmo.<br />
        </p>
    </article>
{% endblock %}
