{% extends 'base.html.twig' %}
{% block body %}
    <article>
    <h1>Jajka zapiekane w ziemniakach.</h1>
    
    <h2>
       Składniki:
   </h2>
    
    <ul>
        <li>5 jajek</li>
        <li>5 dużych ziemniaków</li>
        <li>350 ml. wody niegazowanej</li>
        <li>1 młoda cebula</li>
        <li>papryka chili</li>
        <li>1/2 kg mąki pszennej</li>
        <li>2 ząbki czosnku</li>
        <li>sól pieprz</li>
        <li>50 dag mielonego mięsa drobiowego</li>
        <li>1 marchewka</li>
        <li>4 pomidorki koktajlowe</li>
        <li>oliwa z oliwek</li>
        <li>masło</li>
    </ul> 
   <h2>
       Przygotowanie:
   </h2>
    <p>
    Jajka gotujemy na twardo studzimy i przecinamy wierzch. Wydrążamy żółtko i wrzucamy je do miski. <br>
    Na patelni roztapiamy masło i smażymy pokrojoną w kostkę cebulę czosnek mięso 
    oraz paprykę chili. Smażymy ok. 40-45 minut żeby warzywa zmiękły a mięso zbrązowiało. 
    </p>
    <p>
    Marchewkę obieramy i kroimy w plasterki wrzucamy do żółtek razem z usmażonymi warzywami 
    z mięsem mieszamy aby wszystko się połączyło. 
    </p>
    <p>
    Ziemniaki gotujemy w mundurkach odcinamy wierzch i w dziurę wkładamy białka jajek. 
    </p>
    <p>
    Faszerujemy je masą oraz niewypełnione brzegi poza jajkiem. Wszystkie ziemniaki 
    oprószamy solą i pieprzem posypujemy mąką. <br>
    Blachę wysmarowujemy oliwą z oliwek wkładamy ziemniaki i pieczemy ok 55 minut.
    Wystudzone ziemniaki dekorujemy pomidorkami.
    </p>

</article>
{% endblock %}