{% extends 'base.html.twig' %}

{% block body %}
    <article>
        <h3>Kawa mrożona</h3>
        <h1>Mrożona mokka karmelowa</h1>
        <p>
         Przepyszna kawa mrożona w wersji mokka, czyli z czekoladą.<br /> 
         Uwaga – uzależnia! Zwłaszcza takich karmelowych skrytożerców.<br /> 
        </p>
        <p>
            <ul>
                <li>2 łyżeczki kawy rozpuszczalnej</li>
                <li>pół tabliczki czekolady mlecznej</li>
                <li>2 łyżeczki syropu karmelowego</li>
                <li>ok. 2-3 łyżki wody – wrzątku</li>
                <li>100 ml mleka</li>
                <li>4 kostki lodu</li>
                <li>bita śmietana i sos karmelowy (taki do lodów) do dekoracji</li>
            </ul>    
        </p>
        <p>
            <h1>Przygotowanie</h1>
            Kawę rozpuszczam we wrzątku, dodaję czekoladę pokrojoną<br />
            w małe kawałeczki i mieszam tak długo, aż czekolada się rozpuści.<br /> 
            Dodaję syrop karmelowy i jeszcze raz mieszam. W shakerze umieszczam lód,<br /> 
            dodaję mleko i kawę z czekoladą, mocno wstrząsam. <br />
            Przelewam do szklanki i dekoruję bitą śmietaną i sosem karmelowym.<br />
        </p>
        <p>
            Jeśli nie macie shakera – nic straconego, mrożona mokka karmelowa<br />
            wyjdzie także bez shakera. Trzeba zmieszać rozpuszczoną kawę z czekoladą<br /> 
            z zimnym mlekiem i wrzucić kostki lodu.<br />
        </p>
    </article>
{% endblock %}
