{% extends 'base.html.twig' %}

{% block body %}
    <article>
    <h1>Makaronowa patelnia</h1>
   
    <h2>
       Składniki:
   </h2>
    
    <ul>
        <li> 1 marchewka(duża)</li>
        <li> 1 papryka</li>
        <li> 2-3 zupki chińskie</li>
        <li> filet z kurczaka(ok. 300-400g)</li>
        <li> szklanka wody</li>
        <li> przyprawa curry</li>
        <li> sól i pieprz</li>
        <li> trochę oleju</li>
        <li> <i>opcjonalnie: sos sojowy lub słodko-kwaśny</i></li>

    </ul> 
   <h2>
       Przygotowanie:
   </h2>
    <p>
        
     Obieramy marchewkę, po wykonaniu tej czynności ją wraz z papryką oraz filetem kroimy w plastry.</br>
        Smażymy składniki na patelni(najpierw warzywa, zaczynając od marchewki, następnie dodajemy paprykę). </br>
        Kurczaka obtaczamy w przyprawie curry, dodajemy do patelni.</br>
Gdy kurczak nabierze kolorków wsypujemy makaron z naszych zupek - zalewamy to szklanką wody oraz mieszamy.</br>
Kiedy nasz makaron będzie miękki wrzucamy całą potrawę do miseczek</br>
Można ją polać np. sosem sojowym lub słodko kwaśnym</br>

    </p>
<b>Smacznego!</b>

</article>
{% endblock %}
