{% extends 'base.html.twig' %}
{% block body %}
    <article>
    <h1>Zupa z kurczaka</h1>
    
    <h2>
       Składniki:
   </h2>
    <ul>
        <li>1 marchewka</li>
        <li>1 seler</li>
        <li>1 cebula</li>
        <li>1 pietruszka</li>
        <li>1 duża kostka masła</li>
        <li>3 łyżeczki mąki </li>
        <li>150 ml. bulionu z kury</li>
        <li>liść laurowy</li>
        <li>śmietana 18% do zupy</li>
        <li>sól pieprz</li>
        <li>tymianek</li>
        <li>rozdrobniony kurczak</li>
    </ul>
   <h1>Przygotowanie:</h1>
   <p> 
   Wszystkie warzywa kroimy w kostkę. W garnku roztapiamy masło i smażymy pokrojone warzywa oprócz pietruszki. Czekamy ok. 5 minut.<br>
   Do usmażonych warzyw wrzucamy mąkę i mięszamy aż wszystkie warzywa pokryją się mąką.<br>
   Następnie wlewamy bulion z kury i czekamy aż mąka wyskoczy na powierzchnię i tą mąkę zbieramy łyżką i wrzucamy do miski. <br>
   Do zupy dodajemy liść laurowy pół posiekanej pietruszki i rozdrobniony kurczak. Mięszamy i gotujemy ok. 1 godzinę. <br>
   Do zupy wlewamy śmietanę doprawiamy solą i pieprzem mięszamy miotełką. 
   Chochlą wlewamy zupę na talerz i dekorujemy pozostałą pietruszką.
   </p>

</article>
{% endblock %}